<swiper [navigation]="navigation" class="mySwiper">

    <ng-template *ngFor="let slide of slides" swiperSlide>

        <div class="relative p-10 flex flex-col md:flex-row w-full min-h-screen h-full">

            <div class="md:translate-x-20 md:left-0 md:absolute w-full md:w-2/4 h-full">
                <img src="{{slide.img}}" class="w-full object-cover h-full max-h-screen" />
            </div>

            <div
                class="md:-translate-x-20 md:right-0 md:top-1/2 md:-translate-y-1/2 p-10 md:absolute w-full text-left md:w-2/4 bg-white shadow-md h-auto">
                <h3 class="mb-4">{{slide.title}}</h3>
                <p class="mb-4 last:mb-0">
                    {{slide.text}}
                </p>
            </div>

        </div>

    </ng-template>

</swiper>