<swiper [navigation]="navigation" class="mySwiper">
    <ng-template *ngFor="let slide of slides" class="p-10 md:p-20 flex-col md:flex-row" swiperSlide>
        <div class="md:translate-x-20 w-full md:w-2/4 h-auto">
            <img src="{{slide.img}}" class="w-full object-cover h-full max-h-screen" />
        </div>
        <div class="md:-translate-x-20 p-10 w-full text-left md:w-2/4 bg-white shadow-md">
            <h3 class="mb-4">{{slide.title}}</h3>
            <p class="mb-4 last:mb-0">
                {{slide.text}}
            </p>
        </div>
    </ng-template>
</swiper>