<app-slide [reverse]="false" img="" title="Valoración igualitaria de personas" [body]="['Por esto hemos ajustado los precios y las horas de voluntariado de manera que una decima parte de un salario promedio mensual pueda pagar una membresía, y de la misma manera, un voluntariado donando una décima parte de su tiempo pueda participar de la organización.'
]"></app-slide>

<app-slide [reverse]="false" img="" title="Valoración igualitaria con el mundo" [body]="['Con el ideal de culturizar gradualmente a la comunidad a respetar tanto a la naturaleza del mismo modo como al humano y vivir de una manera sostenible, evitamos la comercialización dentro de las áreas comunitarias, y todo trato que haya tanto con las personas como con la naturaleza será honesto y desinteresado, de manera que en todo trato no habrá servidumbre sino ayuda, ni habrá deseo sino necesidad.'
]"></app-slide>

<app-slide [reverse]="false" img="" title="Vida Natural" [body]="['Excepto por las áreas condicionadas de visitas y de trabajo, las demás áreas serán limitadas al uso de objetos, medios, materiales y alimentos naturales y originales del lugar. De la misma manera será un área libre de electrónicos, electricidad e internet, todo para promover la conexión de las personas con la naturaleza y crear un ambiente libre de ansiedad.'
]"></app-slide>

<app-slide [reverse]="false" img="" title="Identidad y Cultura" [body]="['Promover el uso del idioma y dialecto local, la protección de la etnia o nacionalidad sin implicar ningún tipo de discriminación o reclusión, así como también el uso de materiales, alimentos, utensilios e incluso vestimentas propias y originarias de la localidad de la comunidad.'
]"></app-slide>