<div class="flex items-center object-contain justify-center w-full h-2/3 relative">
    <div class="absolute p-6 bg-white flex flex-col justify-center items-center mix-blend-screen">
        <span class="text-xl font-bold">Por una renovación con la</span>
        <h1 class="text-4xl font-bold">Naturaleza Humana</h1>
    </div>
    <img src="{{img}}" class="w-full object-cover h-full max-h-screen" />
</div>

<div class="columns-1 md:py-20 md:px-40 p-10">
    <h2 class="mb-2">
        Iniciativa de organización no lucrativa para estrechar la relación de las personas con la naturaleza,
        cultivar
        valores humanos y humanidades.
    </h2>
    <p>
        Cada vez más personas pierden contacto con las cosas que nos hacen humanos, como la socialización frente a
        frente, el relacionamiento, la fraternidad, la conexión con la naturaleza, la relación con la fuente de los
        alimentos que consumen, la reflexión, la identidad cultural.
    </p>
</div>