<app-slide [reverse]="false" img="/assets/images/miembro.jpeg" title="Programa de Membresía" [body]="[
'Para los miembros contribuidores, el acceso de estos servicios y experiencias es ilimitado durante un año, con la única excepción de las limitaciones a las que se ven sometidos los mismos recursos para brindarlos a sus usuarios. Y para el propósito de poder brindarlos a más personas es el uso que se les darían a las donaciones por los usuarios.',
]"></app-slide>

<app-slide [reverse]="false" img="" title="" [body]="[
'El costo de la membresía es de 500,000 colones por persona, de un único pago y su duración es anual.',
'Los jóvenes menores de 17 años pueden acceder gratuitamente siempre que un padre o encargado legal sea miembro contributivo de la organización.',
'Todos los miembros deben resonar con los valores de la organización, lo que nos hará a todos una comunidad de gente familiar y allegada.'
]"></app-slide>

<section class="flex flex-col items-center justify-center bg-cover bg-center bg-no-repeat w-full min-h-screen h-auto"
    style="background-image: url('/assets/images/playa.jpeg')">
    <app-form [selector]="selector"></app-form>
</section>