<app-slide [reverse]="false" img="https://picsum.photos/800/800" title="Programa de Voluntariado" [body]="[
'Quien posea cualidades para ofrecer con nosotros alguno de nuestros servicios y se disponga a ofrecerlos semanalmente, su persona se podrá ver eximida del pago de membresía para formar parte de la organización por el tiempo en que se compromete a servir a la organización.',
]"></app-slide>

<app-slide [reverse]="false" img="" title="Actividades" [body]="[
'Los voluntarios serán requeridos al día un máximo de 5 horas de servicio por cinco días, con lo que se le garantizará la acogida el resto de la semana. Algunas de las actividades con las que se pueden apuntar son las siguientes:'
]"></app-slide>

<section class="container mx-auto w-full h-screen py-10 p-0 lg:p-10">
    <app-carousel [slides]="slides"></app-carousel>
</section>