<app-navbar></app-navbar>

<!-- <app-header></app-header> -->

<!-- <app-slide [reverse]="false" img="" title="" [body]="[
'Y por encima de esto, cada vez menos personas pueden disfrutar de las naturalezas de su propio país.',
'Por esto queremos trabajar en fomentar la reconexión de las personas con la naturaleza, dedicando recursos naturales, educativos y culturales para el cultivo de humanidades en las personas.',
]"></app-slide>

<app-slide [reverse]="false" img="https://picsum.photos/800/800" title="Área de Trabajo Compartida" [body]="[
'Espacios minimalistas de trabajo en campos rurales y naturales, donde las personas puedan tener más contacto con la naturaleza que reduzca estrés y ansiedad, y permita viajar sin temores ni limitaciones presupuestales.',
]"></app-slide>

<app-slide [reverse]="true" img="https://picsum.photos/800/800" title="Área de Acampar" [body]="[
'Espacios donde los miembros contribuidores puedan permanecer de manera segura, cuando deseen y cuanto deseen, siempre que el orden y el espacio lo permita, promoviendo de esta manera una mayor socialización entre vecinos que no se encuentra en las ciudades.',
]"></app-slide>

<section class="relative w-full h-auto max-h-1/3 bg-gray-100 mt-10 mb-10 md:mb-0">
    <div class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 bg-white p-5 mix-blend-screen">
        <h3 class="text-black ">
            Experiencias
        </h3>
    </div>
    <img src="https://picsum.photos/1280/400" class="object-fit h-full w-full" />
</section>

<section class="container mx-auto w-full h-screen py-10 p-0 lg:p-10">
    <app-carousel></app-carousel>
</section> -->

<section class="flex flex-col items-center justify-center bg-cover bg-center bg-no-repeat w-full min-h-screen h-auto"
    style="background-image: url('https://picsum.photos/1280/840')">
    <app-form></app-form>
</section>


<!-- <h1>{{title}}</h1>
<nav>
    <a routerLink="/heroes">Heroes</a>
    <a routerLink="/dashboard">Dashboard</a>
</nav> -->
<!-- <router-outlet></router-outlet>
<app-messages></app-messages> -->