<form #form="ngForm" class="form bg-white p-10 w-full max-w-screen md:max-w-lg md:rounded-xl drop-shadow-lg"
    [formGroup]="formGroup" (ngSubmit)="onSubmit(form)">

    <h4 class="mb-8">Inscribirme a Lista de Espera</h4>

    <div class="flex flex-col md:flex-row items-center justify-between">

        <mat-form-field class="w-full md:pr-2" appearance="fill">
            <mat-label>Nombre</mat-label>
            <input type="text" matInput formControlName="nombre" placeholder="Escribir Nombre">
            <mat-error *ngIf="formGroup.hasError('required', 'nombre')">
                Nombre es <strong>requerido</strong>
            </mat-error>
        </mat-form-field>

        <mat-form-field class="w-full md:pl-2" appearance="fill">
            <mat-label>Apellido</mat-label>
            <input type="text" matInput formControlName="apellido" placeholder="Escribir Apellido">
            <mat-error *ngIf="formGroup.hasError('required', 'apellido')">
                Apellido es <strong>requerido</strong>
            </mat-error>
        </mat-form-field>

    </div>

    <mat-form-field class="w-full" appearance="fill">
        <mat-label>Correo</mat-label>
        <input type="email" matInput formControlName="correo" placeholder="Escribir correo">
        <mat-error *ngIf="formGroup.hasError('pattern', 'email')">
            Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="formGroup.hasError('required', 'correo')">
            Correo <strong>requerido</strong>
        </mat-error>
    </mat-form-field>

    <mat-form-field class="w-full" appearance="fill">
        <mat-label>Número</mat-label>
        <input type="text" matInput formControlName="numero" placeholder="Escribir Número">
        <mat-error *ngIf="formGroup.hasError('pattern', 'numero')">
            Please enter a valid phone number
        </mat-error>
    </mat-form-field>

    <mat-form-field class="w-full mb-4" appearance="fill">
        <mat-label>Elegir</mat-label>

        <mat-select formControlName="selected">
            <mat-option value="invalid">Elegir</mat-option>
            <mat-option *ngFor="let x of selector" [value]="x">{{x}}</mat-option>
        </mat-select>

        <mat-error *ngIf="(formGroup.hasError('pattern', 'selected') || !formGroup.hasError('required', 'selected'))">
            Debe seleccionar una opción
        </mat-error>

    </mat-form-field>

    <div class="mb-8 flex flex-col items-center justify-center w-full h-auto">

        <div class="flex items-center justify-center w-full h-auto">
            <mat-checkbox formControlName="terminos" name="terminos" class="mr-2"></mat-checkbox>
            <label class="w-full">
                Acepto los <a routerLink="/terminos"
                    class="transition-all font-medium hover:underline underline-offset-4 w-auto text-gray-600 hover:text-gray-800">Términos
                    y
                    Condiciones</a>
            </label>
        </div>

    </div>


    <button class="transition-all rounded-xl w-full h-12 bg-gray-600 hover:bg-gray-700 text-white disabled:bg-gray-400"
        type="submit" [disabled]="!formGroup.valid">Inscribir</button>

</form>